<style>
  .search-flydown[data-live-search-flydown]{
      --open-height: auto !important;
  }
  .search-flydown__group-title{
    text-transform: uppercase;
    background: #fafafa !important;
    padding: 6px 12px 5px;
    color: #2226 !important;
    margin: 0;
    font-size: 14px !important;
    font-weight: normal !important;
    font-family: 'Barlow';
    line-height: 20px;
}
.search-flydown--product-title, .search-flydown__list-item a{
    line-height: 20px;
    font-size: 14px !important;
    color: #197bbd !important;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.search-flydown--product-title{
font-weight:bold;
}
.search-flydown--product__price{
font-size: 12px !important;
margin:4px 0px !important;
}
.search-flydown--product__price .price__current{
font-size: 12px !important;
}
.search-flydown__continue{
font-size: 14px !important;
}
.search-flydown__continue:focus {
    outline: none !important;
    outline-offset: 0px !important;
}
@media screen and (min-width:1024px){
.search-flydown--product-items ul.search-flydown__group-list{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.search-flydown--results.visible[data-animation-state="visible"]{
      display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width:1024px){
.search-flydown__queries-collections{
padding-left:0px !important;
} 
}
</style>
{% liquid
  assign queries_available = false
  assign products_results_available = false
  assign collections_results_available = false
  assign pages_results_available = false
  assign posts_results_available = false
  assign pages_posts_results_available = false
  assign two_columns = false
  assign no_search_results = true

  if predictive_search.resources.queries.size > 0
    assign queries_available = true
  endif

  if predictive_search.resources.products.size > 0
    assign products_results_available = true
  endif

  if predictive_search.resources.collections.size > 0
    assign collections_results_available = true
  endif

  if predictive_search.resources.pages.size > 0
    assign pages_results_available = true
  endif

  if predictive_search.resources.articles.size > 0
    assign posts_results_available = true
  endif

  if pages_results_available or posts_results_available
    assign pages_posts_results_available = true
  endif

  if products_results_available and pages_posts_results_available
    assign two_columns = true
  endif

  if queries_available or products_results_available or collections_results_available or pages_posts_results_available
    assign no_search_results = false
  endif
%}

{%- if predictive_search.performed -%}
  <div style="display:flex;gap: 5px;"> 
    {%- if predictive_search.resources.queries.size > 0
      or collections_results_available
      or pages_posts_results_available
    -%}
    <div>
      <div class="search-flydown__queries-collections ">
        <h3 class="search-flydown__group-title">COLLECTIONS</h3>
        <ul class="search-flydown__group-list">
          {% comment %}
            {%- for query in predictive_search.resources.queries -%}
              <li class="search-flydown__list-item search-flydown__query-link-item">
                <a href="{{ query.url }}">{{ query.styled_text }}</a>
              </li>
            {%- endfor -%}
          {% endcomment %}
          {% if collections_results_available %}
            {%- for collection in predictive_search.resources.collections -%}
              {%- comment %}<locksmith:c36d>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: predictive_search.resources, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:c36d>{% endcomment -%}
              <li class="search-flydown__list-item">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
            {%- endfor -%}
          {% endif %}
        </ul>
      </div>
    {%- endif -%}
    {%- if pages_posts_results_available -%}
      <div class="search-flydown__pages-posts-items">
        <h5 class="search-flydown__group-title">
          BLOG & PAGES
        </h5>
        <ul class="search-flydown__group-list search-flydown__pages-posts-items-list">
          {%- for page in predictive_search.resources.pages -%}
            <li class="search-flydown__list-item">
              <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {%- endfor -%}
          {%- for article in predictive_search.resources.articles -%}
            <li class="search-flydown__list-item">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
    </div>
    {%- if products_results_available -%}
      <div
        class="
          search-flydown__products-pages-posts
          search-flydown__queries-collections 
        "
      >
        {%- if products_results_available -%}
          <div class="search-flydown--product-items">
            <h3 class="search-flydown__group-title">PRODUCTS</h3>
            <ul class="search-flydown__group-list">
              {%- for product in predictive_search.resources.products limit: 8 -%}
                {%- comment %}<locksmith:e6d0>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: predictive_search.resources, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:e6d0>{% endcomment -%}
                <li>
                  <a
                    class="search-flydown--product"
                    href="{{ product.url }}"
                    aria-label="{{ product.title }}"
                  >
                    <figure class="search-flydown--product-image">
                      {%- if product.featured_media != blank -%}
                        {% render 'rimg',
                          img: product.featured_media.preview_image,
                          alt: product.featured_media.preview_image.alt,
                          size: '70x',
                          lazy: true
                        %}
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
                      {%- endif -%}
                    </figure>
                    <div class="search-flydown--product-text">
                      <span class="search-flydown--product-title">{{ product.title }}</span>
                      {%- liquid
                        assign on_sale = false
                        for variant in product.variants
                          if variant.compare_at_price > variant.price
                            assign on_sale = true
                            break
                          endif
                        endfor
                      -%}
                      <p class="search-flydown--product__price">SKU: {{ product.variants.first.sku }}</p>
                      {% render 'product-price',
                        product: product,
                        class_root: 'search-flydown--product',
                        price: product.price,
                        price_varies: product.price_varies,
                        compare_at_price: product.compare_at_price,
                        compare_at_price_varies: product.compare_at_price_varies,
                        on_sale: on_sale
                      %}
                      
                      {% comment %} {%- if settings.inventory_status -%}
                        <div class="search-flydown--product-stock-level">
                          {% render 'product-stock-level',
                            inventory_display: settings.inventory_display,
                            inventory_transfer: settings.inventory_transfer_notice,
                            variant: product.selected_or_first_available_variant,
                            verbose: false
                          %}
                        </div>
                      {%- endif -%} {% endcomment %}
                      {%- liquid
                        assign swatch_count = null
                        if settings.swatches_enable
                          assign swatch_trigger = settings.swatches_swatch_trigger | strip | downcase
                          for option in product.options_with_values
                            assign option_name = option.name | downcase
                            if option_name == swatch_trigger
                              assign swatch_count = 'product.color_swatches.swatches_count' | t: count: option.values.size
                              break
                            endif
                          endfor
                        endif
                      -%}
                      <span class="search-flydown--product-swatch-count">{{ swatch_count }}</span>
                    </div>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
             <button class="search-flydown__continue" type="submit">
    View all results  <svg width='17' height='8' viewBox='0 0 17 8' fill: #000; xmlns='http://www.w3.org/2000/svg'><path d='M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z' fill='%233D4246'/></svg>
  </button>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if no_search_results -%}
      <p class="search-flydown__no-results">{{ 'search.predictive_search.no_results' | t }}</p>
    {%- endif -%}
  </div>

  {%- capture sanitized_terms -%}
    {%
      render 'search-sanitizer',
      search_terms: predictive_search.terms,
    %}
  {%- endcapture -%}

  {%- assign sanitized_terms = sanitized_terms | strip -%}

 
{%- endif -%}
